/* start of  header */
.header {
  background-color: #fff;
  box-shadow: 0 0 0.1rem #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.header-logo {
  color: var(--main-theme-color);
  font-size: 2.4rem;
  font-weight: 900;
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-nav {
  display: flex;
}
.header-main-nav > li > a {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  position: relative;
  transition: var(--transform-duration);
  overflow: hidden; /*for the line transithon*/
}
.header-main-nav > li > a::before {
  content: "";
  height: 0.5rem;
  width: 100%;
  background-color: var(--main-theme-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--transform-duration);
}
.header-main-nav > li > a:hover {
  color: var(--main-theme-color);
  background-color: #fafafa;
}

.header-main-nav > li > a:hover::before {
  left: 0;
}

/* Start of mega menu */

.header-main-nav > li:hover .header-mega-menu {
  /* showing the mega menu*/
  opacity: 1;
  z-index: 2;
  top: calc(100% + 0.2rem);
}

.header-mega-menu {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 3.2rem;
  border-bottom: 1rem solid var(--main-theme-color);
  z-index: -1;
  display: flex;
  gap: 2.4rem;
  justify-content: space-between;
  align-items: center;
  top: calc(100% + 5.6rem);
  opacity: 0;
  transition: top var(--transform-duration), opacity var(--transform-duration);
}
.mega-menu-image img {
  max-width: 100%;
  height: 42rem;
}
.mega-menu-links {
  color: var(--main-theme-color);
  font-size: 1.6rem;
  padding: 1.2rem;
}
.mega-menu-link {
  margin: 3.2rem 2.4rem;
  min-width: 24rem;
  position: relative;
}

.mega-menu-link::after {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 0.5rem;
  bottom: -1.5rem;
  left: 0;
  position: absolute;
  z-index: -2;
}
.mega-menu-link::before {
  content: "";
  background-color: var(--main-theme-color);
  height: 0.5rem;
  bottom: -1.5rem;
  position: absolute;
  z-index: -1;
  width: 0;
  transition: var(--transform-duration);
}
.mega-menu-link:hover::before {
  width: 100%;
}
.mega-menu-link a {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-theme-color);
}
.mega-menu-link i {
  margin-right: 1.8rem;
}

/* End of mega menu */
/* End of  header */
/* ========================================================================================== */
/* Start of landing section */
.section-landing {
  background-color: #eee;
}
.section-landing > .container {
  padding-top: var(--main-sections-padding-top);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  text-align: center;
}
.landign-main-headign {
  font-size: 4.2rem;
  margin: 0;
  letter-spacing: -0.1rem;
}

.landign-main-headign > span {
  color: var(--main-theme-color);
  /*text-transform: uppercase;*/
}
.landign-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 1rem 0;
  max-width: 100%;
}
.landing-image img {
  animation: up-and-down 5s linear infinite;
  filter: drop-shadow(var(--main-theme-color) 0 0 10px);
  /*position: relative;*/
}
.landig-go-down-btn {
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-theme-color);
  font-size: 3.4rem;
  transition: var(--transform-duration);
}

.landig-go-down-btn:hover {
  color: var(--alt-theme-color);
}

.landig-go-down-btn i {
  animation: bouncey 1.5s linear infinite;
}
/* Start landign animation */
@keyframes up-and-down {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes bouncey {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: (translateY(0));
  }
  40%,
  60% {
    transform: translateY(-2rem);
  }
}
/* End landing animation */

/* End of landing section */
/* ========================================================================================== */
/* Start of game gallery  section */

.section-games {
  padding-top: var(--main-sections-padding-top);
  padding-bottom: var(--main-sections-padding-botton);
}
.section-games .container {
  gap: 2.4rem;
}
.game-card {
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: box-shadow var(--transform-duration),
    transform var(--transform-duration);
  margin: 0;
}

.game-card:hover {
  transform: translateY(-1rem);
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.2);
}

.game-card:hover .game-info i {
  animation: moving-arrow 0.6s linear infinite;
}

.game-card img {
  width: 100%;
  max-width: 100%;
}

.game-details {
  padding: 2.4rem;
}

.game-details h3 {
  font-size: 2.4rem;
  margin: 0 0 1.4rem;
}

.game-details p {
  font-size: 1.4rem;
  color: #777;
}

.game-info {
  padding: 2.4rem;
  border-top: 0.1rem solid #e6e6e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
}

.game-info a {
  font-weight: 700;
  color: var(--main-theme-color);
}
.game-info i {
  color: var(--main-theme-color);
  transition: var(--transform-duration);
}

@keyframes moving-arrow {
  /* 50% {
    transform: translateX(0.5rem);
  } */
  100% {
    transform: translate(1rem);
  }
}

/* End of game gallery section */
/* ========================================================================================== */
/* Start of  new games section */

.section-new {
  padding-top: var(--main-sections-padding-top);
  padding-bottom: var(--main-sections-padding-botton);
  background-color: var(--section-background);
}
.section-new > .container {
  gap: 4.2rem;
}
.new-post {
  padding: 1.2rem;
  background-color: #fff;
  box-shadow: 0 1.2rem 2rem 0 rgba(0, 0, 0, 0.13),
    0 2rem 4rem 0 rgba(0, 0, 0, 0.12);
}

.new-post video {
  max-width: 100%;
}

/* End of new games section */
/* ========================================================================================== */
/* Start of                section */

/* End of             section */
/* ========================================================================================== */
/* Start of  footer */

/* End of  footer */
