/* start of  header */
.header {
  background-color: #fff;
  box-shadow: 0 0 0.1rem #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.header-logo {
  color: var(--main-theme-color);
  font-size: 2.4rem;
  font-weight: 900;
  height: 7.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-main-nav {
  display: flex;
}
.header-main-nav > li > a {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  position: relative;
  transition: var(--transform-duration);
  overflow: hidden; /*for the line transithon*/
}
.header-main-nav > li > a::before {
  content: "";
  height: 0.5rem;
  width: 100%;
  background-color: var(--main-theme-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--transform-duration);
}
.header-main-nav > li > a:hover {
  color: var(--main-theme-color);
  background-color: #fafafa;
}

.header-main-nav > li > a:hover::before {
  left: 0;
}

/* End of  header */
/* ========================================================================================== */
/* Start of landing section */
.section-landing {
  background-color: #eee;
}
.section-landing > .container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.landing-text {
  text-align: center;
}
.landign-main-headign {
  font-size: 4.2rem;
  margin: 0;
  letter-spacing: -0.1rem;
}

.landign-main-headign > span {
  color: var(--main-theme-color);
  /*text-transform: uppercase;*/
}
.landign-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 1rem 0;
  max-width: 100%;
}
.landing-image {
  animation: up-and-down 5s linear infinite;
  position: relative;
}
.landig-go-down-btn {
  /*
  display: flex;
  align-items: center;
  justify-content: center;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-theme-color);
  font-size: 3.4rem;
  transition: var(--transform-duration);
}

.landig-go-down-btn:hover {
  color: var(--alt-theme-color);
}

.landig-go-down-btn i {
  animation: bouncey 1.5s linear infinite;
}
/* Start header animation */
@keyframes up-and-down {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes bouncey {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: (translateY(0));
  }
  40%,
  60% {
    transform: translateY(-2rem);
  }
}
/* Etart header animation */
/* End of landing section */
/* ========================================================================================== */
/* Start of                section */

/* End of             section */
/* ========================================================================================== */
/* Start of  footer */

/* End of  footer */
